:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --theme-background-ultralight: #effaff;
  --theme-background-normal: #a0d2eb;
  --theme-background-light: #e5eaf5;
  --theme-color-light: #d0bdf4;
  --theme-color-normal: #8458b3;
  --theme-color-dark: #494d5f;
  --theme-border-radius-smooth: 10px;
}

body {
  max-width: 1024px;
  margin: auto;
  padding: 0 10px;
}
