.styled-record-cell {
  border: 2px solid var(--theme-color-normal);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
