.title {
  color: var(--theme-color-dark);
  font-weight: 300;
  font-size: 42px;
  width: 100%;
  text-align: center;
}
.open-modal-btn {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  border: none;
  display: block;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
  max-width: 225px;
  margin: auto;
}
