.title {
  color: var(--theme-color-dark);
  font-weight: 300;
  font-size: 42px;
  width: 100%;
  text-align: center;
}
.add-btn {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  border: none;
  display: block;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}

.list-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-picker {
  display: flex;
}

.list-picker-label {
  color: var(--theme-color-dark);
  font-weight: 500;
  flex-shrink: 0;
  line-height: 30px;
}

.list-picker-input {
  background-color: var(--theme-background-light);
  color: var(--theme-color-normal);
  border: 1px solid var(--theme-color-normal);
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}
