.record-date-month {
  color: darkred;
  font-weight: bold;
  font-size: 0.5rem;
}

.record-date-day {
  color: black;
  font-weight: 200;
  font-size: 1.2rem;
}

.record-date-year {
  color: #666;
  font-size: 0.4rem;
}
